
*{
    box-sizing: border-box;
}
body{
    background: #FB6B6B;
    border: 1px solid #DBDBDB;
}

/* Start Screen */
.Screen{
    margin-top: 100px;
    width: 100vw;
    height: calc(100vh -136px);
    display: flex;
    align-items: center;
    padding-bottom: 65px ;

    
    flex-direction: column;

}
.logoContainerStartScreen{
    margin: 0 0 73px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.titleLogo{
    
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;

    color: #FFFFFF;
}
.logo{
    width: 55px;
    height: 65px;
}
.btnStartScreen{
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    width: 141px;
    height: 31px;

}
.btnStartScreen p{
    
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    color: #D70900;
}

/* DeckScreen */

.cardClosed{
    width: 182px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 5px;
}
.cardClosed p{
    padding-left: 6px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
}
.cardClosed img{
    width: 13px;
    height: 15px;
    margin-right: 12px;
}
.arrowIcon{
    width: 13px;
    height: 15px;

}
.LogoContainer{
    width: 100%;
    
    display: flex;
    justify-content: center;
    margin: 19px 0 ;
    position: fixed;
    top: 0;
    background: #FB6B6B;
 
}
.textLogo{
        
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;

    color: #FFFFFF;

    transform: rotate(0.58deg);
}
.cardOpen{
    position: relative;
    width: 182px;
    height: 80px;

    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 14px;
    animation: animationCard 0.5s 0.5s both;
}
.cardOpen p{
    padding-left: 6px;
    padding-top: 13px;
}
.cardOpen img{
    position: absolute;
    bottom: 7px;
    right: 8px;
}
.cardInfos{
  
    width: 182px;
    height: auto;
    
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 14px;
    /* animation: animationCard 0.5s 0.5s both; */
}
.cardInfos p{
    padding-left: 6px;
    padding-top: 13px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: #333333;
}
.buttons{
    padding-bottom: 3px;
}
.btn{
    width: 55px;
    height: 24px;
    border-radius: 5px;
    display: flex;
    
}
.unknow{
    background: #FF3030;
}
.soSo{
    background: #FF922E;
}
.zap{
    background: #2FBE34;
}
.cardInfos button span{
    width: 49px;
    height: 24px;

    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 7px;
    line-height: 8px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}
.buttons{
    margin: 12px 0 3px;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

/* FOOTER */
.footer{
    width:100%;
    height: 50px;
    position: fixed;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.endFooter{
    width:100%;
    height: 171px;
    position: fixed;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.lineIconEndFooter{
    display:flex;
    flex-direction:row;
    margin:15px 0 14px;
}
.lineIconEndFooter img{
    width: 23px;
    height: 23px;
}
.lineIconEndFooter p{
    width: 60px;
    height: 22px;

    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #333333;
}
.endFooter h1{
    width: 222px;
    height: 44px;

    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: #333333;

}
.footer h1 ,.endFooter h1{
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: #333333;

}
.card:hover{
    cursor: pointer;
}
button{
    border:none;
}

@keyframes  animationCard {
    from {
        height: 40px;
        background: #FFFFFF;

    }

    to {
        height: 80px;
        background: #FFFFD5;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    }
}

.black{
    color:black
}
.red{
    color: red;
    text-decoration-line: line-through;
}
.orange{
    color:orange;
    text-decoration-line: line-through;
}
.green{
    color:green;
    text-decoration-line: line-through;
}
.iconFooter{
 
    width: 23px;
    margin-right: 5px;
    height: 23px;

}
.icons{
    display: flex;
    flex-direction: row;
    justify-content:center;

}
.desable{
    pointer-events: none;
}